.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.blackout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
}
.popUp {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}