@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body
{
    width: 1920px;
    margin: 0 auto
}
.main_wrap
{
    margin: 0 auto;
}
.upper_frame
{
    margin: 0 auto;
}
.upper_frame_stripe
{
    margin: 30px 120px 43px 120px;
    height: 55px
}
.upper_frame_stripe_main
{
    margin: 9px 32px 0 0;
    float: left
}
.upper_frame_stripe_sec
{
    margin: 19px 0 17px 667px;
    float: left
}
.upper_frame_button
{
    margin: 0 0 0 0;
    border-radius: 10px;

    width: 247px;
    height: 55px;
    float: right;

    background: #05090C

}
.upper_frame_stripe_button_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    color: white
}
.upper_frame_button_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    color: white
}
.upper_frame_stripe_main_text_bl
{
    width: 203px;
    height: 40px;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    letter-spacing: -0.045em;
    color: black
}
.upper_frame_stripe_main_text_pur
{
    width: 203px;
    height: 40px;
    left: 0;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    letter-spacing: -0.045em;

    color: #ee58b6
}
.upper_frame_stripe_text
{
    margin: 42px 83px 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.upper_frame_main
{
    margin: 0 auto;
    height: 732px;
}
.upper_frame_main_header
{
    margin: 180px 30px 5px 178px;
    float: left;
}
.upper_frame_main_header_text_bl
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    color: black
}.upper_frame_main_header_text_pur
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    color: #ee58b6
}
.upper_frame_main_postext
{
    margin: 21px 0 46px 0;
    width: 545px;
    height: 62px;
}
.upper_frame_main_text
{
    margin: 0 auto;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;

    color: rgba(0, 0, 0, 0.7);
}
.upper_frame_main_button
{
    margin: 0 0 0 0;
    border-radius: 10px;
    background: #05090C;;

    width: 332px;
    height: 55px;
}

.upper_frame_img
{
    margin: 30px 205px 0 0;
    float: right;

    width: 763px;
    height: 638px;
    background-image: url("../images/illustration.png");
    background-repeat: no-repeat;
}
/**/
.black_frame
{
    background: black;
    height: 398px;
    padding: 0 391px 0 391px;
    display: flex;
    justify-content: space-between;
}
.black_frame_time
{
    margin: 111px 0 0 0;
    float: left;
    width: 340px;
    height: 145px
}
.black_frame_notebook
{
    margin: 111px 0 0 0;
    float: left;
    width: 340px;
    height: 145px
}
.black_frame_target
{
    margin: 111px 0 0 0;
    float: right;
    width: 340px;
    height: 100%
}
.black_frame_column_time
{
    margin: 0 0 15px 114px
}
.black_frame_column_notebook
{
    margin: 0 0 15px 140px
}
.black_frame_column_target
{
    margin: 0 0 15px 164px;
}
.black_frame_text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;

    color: white
}
.black_frame_text_time
{
    margin: 0 0 0 2px;
    width: 90%;
}
.black_frame_text_notebook
{
    margin: 0 auto;
    width: 100%;
}
.black_frame_text_target
{
    margin: 0 auto;
    width: 100%;
}
/**/
.sidebar_frame
{
    margin: 0 auto;
    padding-left: 358px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sidebar_finances
{
    margin: 72px 391px 0 0;
    height: 520px;
    display: flex;
    justify-content: space-between;
}
.sidebar_mind-blow
{
    margin: 0 392px 0 0;

    display: flex;
    justify-content: space-between;
}
.sidebar_left_img
{
    margin: 0 0 0 7px;
    width: 538px;
    height: 476px;

    background-image: url("../images/finances.png");
    background-position: 0;
    background-repeat: no-repeat
}
.sidebar_right_img
{
    margin: 34px 102px 0 0;
    width: 378px;
    height: 622px;

    background-image: url("../images/mind_blowing.png");
    background-position: 0;
    background-repeat: no-repeat
}
.sidebar_finances_main
{
    margin: 225px 0 0 11px;
    float: right;
    width: 574px;
    height: 250px;
}
.sidebar_mind-blow_main
{
    margin: 284px 0 0 34px;
    float: left;
    width: 574px;
}
.sidebar_main_header
{
    margin: 224px 0 0 0;
    font-family: 'Montserrat';
    float: none;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 126.06%;
}
.sidebar_main_postext
{
    margin-top: 28px;
}
.sidebar_main_text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    color: rgba(0, 0, 0, 0.7);
}
/**/
.table_frame
{
    margin: 0 auto;
    height: 951px;
}
.table_frame-header
{
    margin: 0 auto;
    padding: 134px 0 0 684px
}
.table_frame-header-text-bl
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: black
}
.table_frame-header-text-pur
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: #ee58b6
}
.table_frame-tables
{
    margin: 0 auto;
    padding: 60px 395px 60px 395px;
    height: 440px;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.table
{
    width: 358px;
    height: 190px;

    background: black;
    border-radius: 7.35723px;
}
.table-image
{
    margin: 31px 281px 18px 40px
}
.table-postext
{
    margin: 0 30px 0 40px;
}
.table-postext_low
{

}
.table-text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: white
}
.bottom_stripe
{
    width: 1920px;
    height: 108px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: black
}
.bottom_stripe-text
{
    margin: 0 auto
}
.bottom_stripe-text-wh
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    letter-spacing: -0.045em;

    color: white
}