@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body
{
    width: 1920px;
}
.main_wrap
{
    margin: 0 auto;
}
.upper_frame
{
    margin: 0 auto;
}
.upper_frame_stripe
{
    margin: 30px 120px 43px 120px;
    height: 55px
}
.upper_frame_stripe_main
{
    margin: 8px 32px 0 0;
    float: left
}
.upper_frame_stripe_sec
{
    margin: 18px 0 17px 662px;
    float: left
}
.upper_frame_button
{
    margin: 0 0 0 0;
    background: black;
    border-radius: 10px;

    width: 247px;
    height: 55px;
    float: right

}
.upper_frame_stripe_button_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;

    text-align: center;
    float: right;
    margin: 19px 42px 19px 40px;
    color: white
}
.upper_frame_button_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;

    text-align: center;
    float: right;
    margin: 19px 90px 0 0;
    color: white
}
.upper_frame_stripe_main_text_bl
{
    width: 203px;
    height: 40px;
    left: 0px;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    color: black
}
.upper_frame_stripe_main_text_pur
{
    width: 203px;
    height: 40px;
    left: 0px;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    color: #ee58b6
}
.upper_frame_stripe_text
{
    margin: 42px 87px 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.upper_frame_main
{
    margin: 0 auto;
    height: 732px;
}
.upper_frame_main_header
{
    margin: 180px 30px 5px 178px;
    float: left;
}
.upper_frame_main_header_text_bl
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    color: black
}.upper_frame_main_header_text_pur
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    color: #ee58b6
}
.upper_frame_main_postext
{
    margin: 20px 0 46px 0;
    width: 545px;
    height: 62px;
}
.upper_frame_main_text
{
    margin: 0 auto;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;

    color: rgba(0, 0, 0, 0.7);
}
.upper_frame_main_button
{
    margin: 0 0 0 0;
    border-radius: 10px;
    background: black;

    width: 332px;
    height: 55px;
}

.upper_frame_img
{
    margin: 28px 205px 0 0;
    float: right;

    width: 763px;
    height: 638px;
    background-image: url("../images/illustration.png");
    background-repeat: no-repeat;
}
/**/
.black_frame
{
    background: black;
    height: 398px;
    padding-left: 391px;
}
.black_frame_column
{
    margin: 111px 120px 0 0;
    float: left;
    width: 285px;
    height: 145px

}
.black_frame_column_time
{
    margin: 5.41px 117.23px 20px 118px
}
.black_frame_column_notebook
{
    margin: 4.42px 147.73px 20px 146.42px
}
.black_frame_column_target
{
    margin: 3.93px 121.09px 20px 119.99px
}
.black_frame_text
{
    margin: 0 auto;
    height: 100%;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;

    color: white
}
/**/
.sidebar_frame
{
    margin: 0 auto;
    padding-left: 358px;
}
.sidebar_finances
{
    margin: 72px 391px 0 0;
    height: 520px;
}
.sidebar_mind-blow
{
    margin: 0 392px 98px 0
}
.sidebar_left_img
{
    margin: 2px 0 0 0;
    width: 538px;
    height: 476px;
    float: left;

    background-image: url("../images/finances.png");
    background-position: 0;
    background-repeat: no-repeat
}
.sidebar_right_img
{
    margin: 34px 110px 0 0;
    width: 378px;
    height: 622px;
    float: right;

    background-image: url("../images/mind_blowing.png");
    background-position: 0;
    background-repeat: no-repeat
}
.sidebar_finances_main
{
    margin: 225px 7px 0 0;
    float: right;
    width: 574px;
}
.sidebar_mind-blow_main
{
    margin: 284px 0 0 27px;
    float: left;
    width: 574px;
}
.sidebar_main_header
{
    margin: 225px 0 26px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 126.06%;
}
.sidebar_main_text
{
    margin: 26px 0 0 0;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    color: rgba(0, 0, 0, 0.7);
}
/**/
.table_frame
{
    margin: 0 auto
}
.table_frame-header
{
    margin: 0 auto
}
.table_frame-header-text-bl
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: black
}
.table_frame-header-text-pur
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: #ee58b6
}
.table
{
    width: 358px;
    height: 190px;
    left: 0px;
    top: 0px;

    background: black;
    border-radius: 7.35723px;
}
.table-image
{
    float: right;
    margin: 32px 281px 21px 39px
}
.table-text
{
    margin: 21px 49px 0 39px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: white
}
.bottom_stripe
{
    width: 1920px;
    height: 108px;
    left: 1px;
    bottom: 0px;

    background: black
}
.bottom_stripe-text
{
    margin: 0 auto
}
.bottom_stripe-text-wh
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    letter-spacing: -0.045em;

    color: white
}