@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body
{
    width: 100%;
    margin: 0;
}
.main_wrap
{
    margin: 0;
    width: 100%
}
.upper_frame
{
    margin: 0;
}
.upper_frame_stripe
{
    margin: 30px auto 43px auto;
    display: flex;
    justify-content: space-between;
    
    max-width: 1680px;
    padding: 0 30px 0 30px;
    flex-wrap: wrap

}
.upper_frame_stripe_main
{
    margin: 9px 0 0 0;
    padding-right: 32px;
}
.upper_frame_stripe_sec
{
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap
}
.upper-frame-stripe-sec__questions
{
    margin: 0;
    padding-right: 80px;

    width: 520px;
    display: flex;
    justify-content: space-between;
}
.upper_frame_button
{
    margin: 0;
    border-radius: 10px;

    width: 247px;
    height: 55px;

    color: #05090C;
    background: #05090C
}
.upper_frame_stripe_button_text
{
    margin: 18px 0 17px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    color: white
}
.upper_frame_button_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    text-align: center;
    color: white
}
.upper_frame_stripe_main_text_bl
{
    width: 203px;
    height: 40px;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 122.33%;
    letter-spacing: -0.045em;
    color: black
}
.upper_frame_stripe_main_text_pur
{
    width: 203px;
    height: 40px;
    left: 0;
    top: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 122.33%;
    letter-spacing: -0.045em;

    color: #ee58b6
}
.upper_frame_stripe_text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.upper_frame_main
{
    margin: 0 auto 0 auto;
    max-width: 1680px;
    padding: 0 30px 0 30px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse
}
.upper_frame_main_header
{
    margin: 180px 30px 5px 20px
}
.upper_frame_main_header_text_bl
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    color: black
}.upper_frame_main_header_text_pur
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    color: #ee58b6
}
.upper_frame_main_postext
{
    margin: 21px 0 46px 0;
    max-width: 545px;
    width: 95%;
    height: 62px;
}
.upper_frame_main_text
{
    margin: 0 auto;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;

    color: rgba(0, 0, 0, 0.7);
}
.upper_frame_main_button
{
    margin: 0 0 0 0;
    border-radius: 10px;
    color: #05090C;
    background: #05090C;

    width: 332px;
    height: 55px;
}
.upper-frame__image
{
    margin: 0
}
.upper_frame_img
{
    margin: 0;
    max-width: 100%;
    width: 763px;
}
/**/
.black_frame
{
    background: black;
    margin: 50px 0 0 0;
    padding: 30px 0 30px 0;
    min-height: 398px;
    width: 100%;

    display: flex;
    align-items: center;
}
.black_frame_collumns
{
    margin: 0 auto 0 auto;
    padding: 0 5% 0 5%;
    max-width: 1138px;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.black_frame_col
{
    margin: 10px 0 10px 0;
    max-width: 340px;
    max-height: 145px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}
.black_frame_column_img
{
    margin: 0 0 15px 0
}
.black_frame_text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;

    color: white
}
.black_frame_text_time
{
    margin: 0 0 0 2px;
    width: 90%;
    text-align: center
}
.black_frame_text_notebook
{
    margin: 0 auto;
    width: 100%;
    text-align: center
}
.black_frame_text_target
{
    margin: 0 auto;
    width: 100%;
    text-align: center
}
/**/
.sidebar_frame
{
    margin: 72px auto 0 auto;
    max-width: 1135px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.sidebar_finances
{
    margin: 0 0 60px 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.sidebar_mind-blow
{
    margin: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse
}
.sidebar_left_img
{
    margin: 0;
    width: 538px;
    max-width: 100%;
    height: 476px
}
.sidebar-left__image {
    margin: 0 auto;
}
.sidebar_right_img
{
    margin: 5% 146px 0 0;
    width: 378px;
    height: 622px;

    background-image: url("../images/mind_blowing.png");
    background-position: 0;
    background-repeat: no-repeat
}
.sidebar_finances_main
{
    margin: 225px 20px 0 0;
    float: right;
    width: 574px;
    height: 250px;
}
.sidebar_mind-blow_main
{
    margin: 284px 0 0 34px;
    float: left;
    width: 574px;
}
.sidebar_main_header
{
    margin: 224px 0 0 0;
    font-family: 'Montserrat';
    float: none;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 126.06%;
}
.sidebar_main_postext
{
    margin-top: 28px;
}
.sidebar_main_text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

    color: rgba(0, 0, 0, 0.7);
}
/**/
.table_frame
{
    margin: 15px 0 15px 0
}
.table-frame-head
{
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center
}
.table_frame-header
{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.table_frame-header-text-bl
{
    margin-right: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: black
}
.table_frame-header-text-pur
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: #ee58b6
}
.table_frame-tables
{
    margin: 0 auto;
    max-width: 1170px;

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.table
{
    max-width: 358px;
    width: 90%;
    height: 190px;
    margin: 15px;

    background: black;
    border-radius: 7px;
}
.table-image
{
    margin: 31px 281px 18px 40px
}
.table-postext
{
    margin: 0 30px 0 40px;
}
.table-postext_low
{

}
.table-text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: white
}
.bottom_stripe
{
    width: 100%;
    height: 108px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: black
}
.bottom_stripe-text
{
    margin: 0 auto
}
.bottom_stripe-text-wh
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 122.33%;
    letter-spacing: -0.045em;

    color: white
}


@media screen and (max-width: 907px)
{
    .upper_frame_stripe {
        margin: 30px 0 20px 0;
    }
    .upper-frame-stripe-sec__questions {
        flex-direction: column;
        padding: 0;
        width: auto;
        margin: 0 auto 0 0
    }
    .upper_frame_stripe_main {
        margin-bottom: 20px
    }
    .upper_frame_stripe_button_text {
        font-size: 14px;
    }
    .upper_frame_main_header_text_bl {
        font-size: 3em
    }
    .upper_frame_main_header_text_pur {
        font-size: 3em
    }
    .upper_frame_stripe_sec {
        margin-right: 0;
    }
    .upper_frame_button {
        width: 40%
    }
    .black_frame_text {
        font-size: 20px
    }
}

@media screen and (max-width: 610px)
{
    .table_frame-header-text-bl {
        font-size: 1.8em
    }
    .table_frame-header-text-pur {
        font-size: 1.8em
    }
    .upper_frame_stripe_button_text {
        font-size: 10px
    }
    .upper_frame_stripe_text {
        font-size: 14px
    }
    .upper_frame_stripe_sec {
        justify-content: space-between;
        width: 50%
    }
    .upper_frame_stripe_sec {
        display: none
    }
    .upper_frame_main_header_text_bl {
        font-size: 2em
    }
    .upper_frame_main_header_text_pur {
        font-size: 2em
    }
    .upper_frame_main_text {
        font-size: 0.95em
    }
    .upper_frame_main_button {
        width: 60%;
        margin: 0 auto 0 auto;
        display: block
    }
    .upper_frame_main_postext {
        margin: 10px 0 14px 0;
    }
    .upper_frame_button_text {
        font-size: 12px
    }
    .black_frame_text {
        font-size: 14px
    }
    .sidebar-left__image {
        width: 100%
    }
    .sidebar_left_img {
        max-width: 100%
    }
    .sidebar_right_img {
        width: 100%
    }
}

@media screen and (max-width: 1128px)
{
}
@media screen and (max-width: 1135px)
{
    .upper_frame_stripe_main {
        margin: 9px auto 0 auto;
    }
    .upper_frame_stripe_sec {
        margin: 0 auto 0 auto
    }
}

@media screen and (max-width: 1569px)
{
    .upper_frame_main_header {
        margin: 0 30px 0 20px;
    }
    .upper-frame__image {
        width: 95%
    }
}